<div class="container">
  <nav class="navigation">
    <div class="navigation__image">
      <img src="../assets/Dananz.png" alt="logo" />
      <img class="line" src="../assets/Vector 286.png" alt="logo" />
      <img class="vector-right" src="../assets/Vector 288.png" alt="logo" />
      <img class="vector-left" src="../assets/Vector 289.png" alt="logo" />
    </div>
    <div class="navigation__links">
      <ul class="navigation__links--link">
        <li>Home</li>
        <li>About Us</li>
        <li>Services</li>
        <li class="active">Our Teams</li>
      </ul>
      <button class="navigation__btn">Contact us</button>
    </div>
  </nav>
  <main>
    <section class="header">
      <h1 class="header__title">Minimalist Room</h1>
      <p class="header__text">
        It is a long established fact that a reader will be<br />
        distracted by the readable content of a page when<br />
        looking at its layout.
      </p>
      <img
        class="header__image"
        src="../assets/unsplash_77JACslA8G0.png"
        alt="photo"
      />
    </section>
    <section class="details">
      <div class="details__box-1">
        <h1 class="details__box-1--title">Project Overview</h1>
        <p class="details__box-1--paragraph">
          Online learning with us does not interfere with your daily life.
          because learning can be done anytime and anywhere. Online learning
          with us does not interfere with your daily life. because learning can
          be done anytime and anywhere. Online learning with us does not
          interfere with your daily life. because learning can be done anytime
          and anywhere.
        </p>

        <div class="details__box-1--date">
          <h3>July 22 - 2022</h3>
          <h3>Interior Design - Furniture</h3>
        </div>
      </div>
      <div class="details__box-2">
        <h1 class="details__box-2--title">Design Process</h1>
        <p class="details__box-2--paragraph">
          Online learning with us does not interfere with your daily life.
          because learning can be done anytime and anywhere. Online learning
          with us does not interfere with your daily life. because learning can
          be done anytime and anywhere.
        </p>
        <p class="details__box-2--paragraph">
          Online learning with us does not interfere with your daily life.
          because learning can be done anytime and anywhere. Online learning
          with us does not interfere with your daily life. because learning can
          be done anytime and anywhere.
        </p>
      </div>
    </section>

    <section class="images">
      <img src="../assets/unsplash_7tFlUFGa7Dk.png" alt="img" />
      <img src="../assets/unsplash_sdRZrK4lVCk.png" alt="img" />
    </section>

    <section class="image">
      <img src="../assets/unsplash_JIUjvqe2ZHg.png" alt="img">
    </section>

    <section class="images">
      <img src="../assets/unsplash_dO3qTKxwik0.png" alt="img" />
      <img src="../assets/unsplash_2_BZuGgkP4k.png" alt="img" />
    </section>

    <section class="contacts">
      <div class="contact">
        <h3 class="contact__title">
          let's discuss making your interior<br />
          like a dream place!
        </h3>
        <div class="contact__btn-paragrah">
          <p class="contact__btn-paragrah contact__btn-paragrah--paragraph">
            Contact us below to work together to build your<br />
            amazing interior
          </p>
          <button class="contact__btn-paragrah contact__btn-paragrah--btn">
            Contact Us
          </button>
        </div>
      </div>

      <div class="footer">
        <div class="footer__title-text">
          <img src="../assets/Dananz.png" alt="img" />
          <img class="line" src="../assets/Vector 286.png" alt="img" />
          <p>One of the best furniture<br> agency.</p>
        </div>
        <div class="footer__inputField">
          <span class="footer__inputField--title"><img src="../assets/Ellipse 74.png" alt=""><p>Enter  your email to get the laterst news</p></span>

          <input type="text" placeholder="Email Address">
          <div class="follow-up">
            <h3>Follow Us On</h3>
            <span>
              <img src="../assets/icon/vector-1.png" alt="icon">
              <img src="../assets/icon/vector-2.png" alt="icon">
              <img src="../assets/icon/vector.png" alt="icon">
              <img src="../assets/icon/vector-3.png" alt="icon">
            </span>
          </div>
        </div>
      </div>
    </section>

  </main>
</div>
